apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: xwiki-additional-pvc
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-client
  resources:
    requests:
      storage: 5Gi  # Adjust the size as needed
